/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
*/

/*  place: dia diem
    description: mieu ta
    section: phần
    contacts: liên lạc
    common: chung
    templates: mẫu
    theme: chủ đề
    sold: bán
    quatity: định lượng
*/

/* favicon để đổi biểu tượng icon trên thanh chorm */

html {
    scroll-behavior: smooth; /* di chuyển đến nơi mình cần ấn bằng cách cuộn*/
    font-family:"Segoe UI",Arial,sans-serif;
}
/*
1. Vị trí
2. Kích thước ( width, height)
3. Màu sắc
4. Kiểu dáng ( kiểu chữ , hình tròn, vuông....)
 */



 /* common: chung */
.clear {
    clear:both;   /* clear: both để dùng khắc phúc float để nó bao 
                        lai con của nó bằng một div trống cuối cùng của thẻ div cần float*/
}
.text-while {
    color: #fff !important;
}
.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {   /* thay cho clear ở cuối các cặp thẻ row khi dùng clear:both*/
    content:" ";
    display: block;
    clear: both;
}

.column {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-double {
    width: 50%;
}
.col-three {
    width: 33.33333%;
}
.col-full {
    width: 100%;
}



#main {

}


#header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 46px;
    background-color: #000;
    z-index: 1;   /* postion bị chìm thì z-index làm cho nổi lên tăng từ 0-1 */
}

/* begin: nav */

#nav {
    display:inline-block;
}

#nav, .subnav {
    list-style: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    padding: 0 12px;
    color: #000;
    line-height: 38px;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .nav-arrow-down {
    font-size: 12px;
}
/* end: nav */


/* begin: header */

#header .mobile-menu-btn {
    position:absolute;
    top:0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}
#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
/* end: header */


/* begin: slider */

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/nhom.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 48px;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 400;
}

#slider .text-discription {
    margin-top: 25px;
    font-size: 15px;
    text-shadow: 0 0 4px black;
}
/* end:slider */


/* begin:content */

#content {

}


/* begin: about section */
#content .content-section {
    width: 800px;
    max-width: 100%;    /*  làm tablet */
    padding: 64px 4px 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;   /*  làm tablet */
    padding-right: 16px;    /*  làm tablet */
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    margin: 25px 0;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    line-height: 1.4;
    text-align: justify;
}

#content .members-list {
    margin-top: 32px;
}


#content .member-name {
    font-size: 15px;
}
#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/* end:about section */


/* begin: tour section */
.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}

.tickets-list li{
    font-size: 15px;
    color:#757575;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    color: #fff;
    background-color: #f44336;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quatity {
    background-color: #000;
    color: #fff;
    float:right;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    line-height: 24px;
    margin-right: 16px;
    margin-top: -2px;
}

/* begin:place */
.places-list {
    margin-top: 16px;
}
.place-img {
    display: block;
    width: 100%;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 500;
}

.place-time {
    margin: 15px 0;
    color: #757575;
}

.place-description {
    line-height: 1.4;
    text-align: justify;
}

.place-buy-btn {
    display: inline-block;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    margin-top: 15px;
    text-align: center;
}

.place-buy-btn:hover {
    color: #fff;
    background-color: #ccc ;
}

/* contacts */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info p i {
    width: 30px;
    display: inline-block;
}

.contact-input {
    font-size: 15px;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
}

.col-full {
    width: 100%;
}

.contact-send-btn {
    margin-top: 16px;
    padding: 10px 16px;
    background-color: #000;
    border: 1px solid #000;
    border: none;
    color: #fff;
    float: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.contact-send-btn:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

/* begin: map section */
.map-section {
    width: 100%;
    height: auto;
    filter: grayscale(50%);
}

/* begin:footer */
#footer {
    text-align: center;
    padding: 64px 16px;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}
